---
import Layout from "@/layouts/MainLayout.astro"
const fafa = "Baradel"
---

<Layout
  title="scroll trigger"
  description="scroll trigger description Welcome to Astro."
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="manifest" href="manifest.json" />
    <title>"title"</title>
  </head>
  <main>
    <slot />
    <section class={" section1"}>
      <div class="row1">
        <div class="col">
          <h1>SCROLL TRIGGER</h1>
          <a href="/">volver a la jome</a>
          <p>{fafa}</p>
        </div>
      </div>
    </section>

    {}
    <section class="section2" id="section2">
      <div class="row1">
        <div class="col">
          <h2>Section 2</h2>
          <p>Lorem ipsum</p>
        </div>
      </div>
    </section>
    {}
    <section class="section3">
      <div class="row">
        <div class="col">
          <h2>Section 3</h2>
          <p>Lorem ipsum</p>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    background: white;
  }
  section {
    padding: 6rem 0;
    width: 100vw;
    min-height: 80vh;
    .row {
      gap: 0;
      min-height: 80vh;
    }
    .col {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .section1 {
    background: rgb(255, 228, 153);
  }
  .section2 {
    background: rgb(226, 153, 255);
  }
  .section3 {
    background: rgb(255, 248, 153);
  }
</style>

<script>
  import gsap from "gsap"
  import { ScrollTrigger } from "gsap/ScrollTrigger"
  gsap.registerPlugin(ScrollTrigger)

  gsap.from(".section2", {
    scrollTrigger: {
      trigger: ".section2",
      start: "top bottom",
      end: "bottom top",
      scrub: 1,
      markers: true,
    },
    x: 300,
    stagger: 0.5,
  })
</script>
