{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 150,
  "overrides": [
    {
      "files": "cardStack.tsx",
      "options": {
        "printWidth": 100
      }
    }
  ]
}
