---
import Layout from '@/layouts/MainLayout.astro'
import Map from '@/components/map/map'
import CardStack from '@/components/card/cardStack'
const COLOR = '#ff00ff'
---

<Layout title="Básicas Perucas" description="description Welcome to Astro.">
  <main class="map">
    <Map client:load />
    <!-- <CardStack client:load /> -->
  </main>
</Layout>

<style define:vars={{ color: COLOR }}>
  .map {
    border: 10px solid var(--COLOR);
    position: relative;
  }
  main {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
</style>

<script>
  const search = window.location.search
  const searchParams = `${new URLSearchParams(search).get('basica')} | Basicas Perucas` || 'Basicas Perucas'
  document.title = searchParams
</script>
