---
import Layout from "@/layouts/MainLayout.astro"
import Map from "@/components/map/map"
import CardPile from "@/components/card/cardpile"
const COLOR = "#ff00ff"
---

<Layout title="Basicas Astro" description="description Welcome to Astro.">
  <main class="map">
    <Map client:load />
    <CardPile client:load />
  </main>
</Layout>

<style define:vars={{ color: COLOR }}>
  .map {
    border: 10px solid var(--COLOR);
    position: relative;
  }
  main {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
</style>
