---
import Layout from "@/layouts/MainLayout.astro"
import Card from "@/components/Card.astro"

import Map from "@/components/map/map"
const COLOR = "#ff00ff"
---

<Layout title="Basicas Astro" description="description Welcome to Astro.">
  <main class="map">
    <Map client:load />
  </main>
</Layout>
<style define:vars={{ color: COLOR }}>
  .map {
    border: 10px solid var(--COLOR);
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
