---
import { ViewTransitions } from 'astro:transitions'

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/icon-192x192.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="manifest" href="manifest.json" />
    <title>{title}</title>
  </head>
  <body>
    <!-- <nav>
      <a href="/">inicio</a>
      <a href="/scrolltrigger">scrolltrigger</a>
    </nav> -->
    <slot />
  </body>
</html>

<script>
  if ('serviceWorker' in navigator) {
    console.log('Service Worker registration')
    navigator.serviceWorker
      .register('/sw.js')
      .then((registration) => {
        console.log('Service Worker registered with scope:', registration.scope)
      })
      .catch((error) => {
        console.error('Service Worker registration failed:', error)
      })
  }
</script>

<style is:global>
  :root {
    --accent: #ffd000;
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    color: white;
  }

  body {
    max-width: min(600px, 100vw);
    overflow-x: hidden;
    margin: 0 auto;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
    margin: 0;
  }
  p {
    margin: 0;
  }
  a {
    color: white;
  }

  /* WebKit Browsers */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: #2c2f36;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #3a3d44;
  }
  ::-webkit-scrollbar-track {
    background: #181a20;
  }
</style>
