---
import { ViewTransitions } from "astro:transitions"
interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <viewTra <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="manifest" href="manifest.json" />
    <title>{title}</title>
    <ViewTransitions />
  </viewTra>
  <body>
    <slot />
  </body>

  <style is:global>
    html {
      font-family: system-ui, sans-serif;
      background: #13151a;
    }
    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }
  </style>

  <script>
    if ("serviceWorker" in navigator) {
      console.log("Service Worker registration")
      navigator.serviceWorker
        .register("/sw.js")
        .then((registration) => {
          console.log(
            "Service Worker registered with scope:",
            registration.scope
          )
        })
        .catch((error) => {
          console.error("Service Worker registration failed:", error)
        })
    }
  </script>
</html>
