---
import { ViewTransitions } from "astro:transitions"

interface Props {
  title: string
  description: string
  searchParams?: string
}

const { title, description, searchParams } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/icon-192x192.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="manifest" href="manifest.json" />
    <title>{title}</title>
  </head>
  <body>
    <nav>
      <a href="/">inicio</a>
      <a href="/scrolltrigger">scrolltrigger</a>
    </nav>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --accent: blue;
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    color: white;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  a {
    color: white;
  }
</style>

<script>
  if ("serviceWorker" in navigator) {
    console.log("Service Worker registration")
    navigator.serviceWorker
      .register("/sw.js")
      .then((registration) => {
        console.log("Service Worker registered with scope:", registration.scope)
      })
      .catch((error) => {
        console.error("Service Worker registration failed:", error)
      })
  }
</script>
